@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
}

header{
    font-family: sans-serif;
    margin-left: 120px;
    font-size: 15px;
    margin-top: 10px;
    color: grey;
}
nav{
    font-family: Dosis;
    margin: 20px;
}

nav ul{
    display: flex;
    list-style-type: none;
    /* background-color: aliceblue; */
    height: 75px;
    color: black;
    align-items: center;
}

nav ul li{
    padding: 30px;
    font-size: larger;
}

.container{
    display: flex;
    justify-content: center;
    width: 100%; 
    height: auto;
}

.state{
    background-color: blanchedalmond;
}

.jewellery h1{
    text-align: center;
    margin-top: 50px;

}

.jewellery pre{
    text-align: center;
    font-size: larger;
    color: grey;
    margin-top: 20px;
}

.center{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.flexbox1,.flexbox2,.flexbox3{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 170px;
    justify-content: space-evenly;
    margin-right: 170px;
}

.flexbox1 img,.flexbox2 img,.flexbox3 img{
    height: 355px;
    width: 355px;
}

.video{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.form div{
    display: flex;
    background-color: grey;
    height: 75px;
    justify-content: center;
    margin-top: 30px;
}

.btn{
    margin: 10px;
    width: 300px;
    margin-top: 20px;
    text-align: center;
}

.text{
    margin: 10px;
    text-align: center;
    margin-top: 20px;
}

.info{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    color: red;
    margin: 10px;
    margin-left: 80px;
    justify-content: space-evenly;
    font-size: larger;
}

.about{
    margin-left: -10px;
    margin-top: 30px;
    color: black;
    font-family: Dosis;
}

#phone{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.faq{
    color: black;
    margin-left: -30px;
    margin-top: 5px;
}

#icons img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /* display: flex;
    justify-content: right;
    flex-direction: row; */
}

.blog{
    color: black;
    margin-left: -340px;
    margin-top: 25px;
}

.feedback{
    font-size: x-large;
    font-family: cursive;
}

.feedback submit-feedback{
    color: red;
}

footer{
    color: black;
    text-align: center;
    font-size: medium;
    margin-top: 20px;
}


